# Configuration Withings
WITHINGS_CLIENT_ID=your_withings_client_id_here
WITHINGS_CLIENT_SECRET=VOTRE_SECRET_ICI
WITHINGS_CALLBACK_URI=https://your-ngrok-url.ngrok-free.app/auth/withings/callback

# Configuration Intervals.icu
INTERVALS_ATHLETE_ID=iXXXXXX
INTERVALS_API_KEY=your_api_key_here
